<h1 class="display-4">Users</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% user.forEach(function(user){ %>
            <tr>
                <td><%= user.id %></td>
				<td><%= user.name %></td>
				<td>
						<a href="/user/edit/<%= user.id %>" class="btn btn-primary">Edit</a>
						<a href="/user/singleview/<%= user.id %>" class="btn btn-info">Single View</a>                    
						<form action="/uwer/delete/<%= user.id %>" method="POST" class="d-inline">
						<input type="submit" value="Delete" class="btn btn-danger">
						</form>
					</td>
            </tr>
        
        <% }) %>
    </tbody>
</table>